<!DOCTYPE html>
<html lang="en">
{% load static %}
<link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="{% static 'finance/style.css' %}">


<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>




 
<body>
    <div id="wrapper">
        <div id="main-header">
            <div id="header">
                {% include 'header.html' %}
            </div>
        </div>
        <div id="sidebar-wrapper">
            <div id="main-sidebar">
                {% block sidebar %}
                {% include 'navbar.html' %}
                {% endblock %}
            </div>
        </div>
        <div id="content-wrapper">
            <div id="main-content">
                {% block body %}
                {% endblock %}
            </div>
    </div>
    </div>
</body>
</html>