{% extends 'base.html' %}

{% block title %} Contact {% endblock %}


{% block body %}

<div id="budget-wrapper">
    <div id="revenue">
        <table>
            <caption><h1>Einnahmen</h1></caption>
            <thead>
                <tr>
                    <th scope="col">Bezeichnung</th>
                    <th scope="col">Betrag</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Test</td>
                    <td>123</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="expenditure">
        <table>
            <caption><h1>Ausgaben</h1></caption>
            <thead>
                <tr>
                    <th scope="col">Bezeichnung</th>
                    <th scope="col">Betrag</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Test</td>
                    <td>123</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

<h1>Budget</h1>
<form action="" method="POST">
    {% csrf_token %}
    <p>Name:</p> <input type="text" name="name"/><br/>
    <p>Budget:</p> <input type="text" name="budget"/><br/>
    <input type="submit" value="Post"/>
    </form>


{% for x in budget %}
<p>{{x.name}},{{x.budget}}</p></br>
{% endfor %}
{% endblock %}