{% extends 'base.html' %}

{% block title %} Contact {% endblock %}


{% block body %}

<div id="budget-wrapper">
    <div id="revenue">
        <h1>Budgets</h1>
        <hr/>
        <button id="neue-quelle-button"><i class="fa-solid fa-plus"></i>&nbsp;Neue Quelle</button>
        <hr/>
        <table id="table-revenue">
            <caption><h1>Einnahmen</h1></caption>
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th scope="col">Quelle</th>
                    <th scope="col">Betrag</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><i class="fa-solid fa-bars t1"></i>&nbsp;<i class="fa-solid fa-pen-to-square t2"></i>&nbsp;<i class="fa-solid fa-trash-can t3"></i></td>
                    <td>Test</td>
                    <td>123</td>
                </tr>
                <tr>
                    <td><i class="fa-solid fa-bars t1"></i>&nbsp;<i class="fa-solid fa-pen-to-square t2"></i>&nbsp;<i class="fa-solid fa-trash-can t3"></i></td>
                    <td>Test</td>
                    <td>123</td>
                </tr>
                <tr>
                    <td><i class="fa-solid fa-bars t1"></i>&nbsp;<i class="fa-solid fa-pen-to-square t2"></i>&nbsp;<i class="fa-solid fa-trash-can t3"></i></td>
                    <td>Test</td>
                    <td>123</td>
                </tr>
                <tr>
                    <td><i class="fa-solid fa-bars t1"></i>&nbsp;<i class="fa-solid fa-pen-to-square t2"></i>&nbsp;<i class="fa-solid fa-trash-can t3"></i></td>
                    <td>Test</td>
                    <td>123</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- <div id="expenditure">
        <table>
            <caption><h1>Ausgaben</h1></caption>
            <thead>
                <tr>
                    <th scope="col">Bezeichnung</th>
                    <th scope="col">Betrag</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Test</td>
                    <td>123</td>
                </tr>
            </tbody>
        </table> -->
    </div>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<!-- <form action="" method="POST">
    {% csrf_token %}
    <p>Name:</p> <input type="text" name="name"/><br/>
    <p>Budget:</p> <input type="text" name="budget"/><br/>
    <input type="submit" value="Post"/>
    </form>


{% for x in budget %}
<p>{{x.name}},{{x.budget}}</p></br>
{% endfor %}
{% endblock %} -->